* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
}

main {
    width: 89vw;
    height: 80vh;
    display: flex;
}

.esquerda {
    width: 50vw;
    background-color: rgb(145, 114, 74);
    position: static;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#img {
    height: 25vh;
}

.colab {
    transform: translateY(250px);
    font-size: 20px;
    position: fixed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    padding: 15px;
}

.direita {
    width: 50vw;
    background-color: rgb(182, 150, 107);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2 {
    font-size: 30px;
}

input {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 300px;
    position: relative;
}

span {
    position: absolute;
    transform: translateX(-290px);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ent {
    margin-top: 20px;
}

a{
    transform: translateY(150px);
    font-size: 18px;
    position: fixed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgb(41, 9, 71);
}

a:active{
    color: rgb(182, 150, 107);
}

