
<style>
  @import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300&family=Playfair+Display:ital,wght@1,900&display=swap');
</style>

body {
  margin: 0;
  padding: 0;
  background-color: #8B4513; 
 font-family: 'Frank Ruhl Libre', serif;
}

.timeline {
  position: relative;
  margin: 50px auto;
  padding: 40px 0;
  width: 80%; 
  max-width: 1000px;
  box-sizing: border-box;
}


.timeline:before {
  content: '';
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: rgb(145, 114, 74); 
}

.timeline ul {
  margin: 0;
  padding: 0;
}

.timeline li {
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}

.timeline li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.timeline li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.content {
  background-color: rgb(145, 114, 74); 
  padding: 20px;
  padding-bottom: 20px;
}

.timeline li:nth-child(odd):before {
  content: '';
  position: absolute;
  top: 24px;
  right: -6px;
  width: 10px;
  height: 10px;
  background: white; 
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgb(182, 150, 107);
}

.timeline li:nth-child(even):before {
  content: '';
  position: absolute;
  top: 24px;
  left: -4px;
  width: 10px;
  height: 10px;
  background: white; 
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgb(182, 150, 107); 
}

.timeline ul li h3 {
    margin: 0
}
  margin: 0
